/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Manrope&family=Poppins&family=Roboto+Mono:wght@400;500&display=swap');

/* fonts  */
/* font-family: 'Archivo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace; */



/* ------- universal style --------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- header style ------------------  */
header{
    box-shadow: 30px 10px 10px lightgray;
}
#header-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}
header img{
    width: 280px;
    height: 280px;
}
.header-title{
    text-align: center;
}
.header-title h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px gold;
    font-family: 'Poppins';
    margin-bottom: 10px;
}
.header-title p{
    font-size: 2rem;
}
/* -------- main section style --------- */
main{
    margin: 50px 100px;
}
main button{
    width: 150px;
    background-color: red;
    color: white;
    font-size: 22px;

}
.main-container{
    display: flex;
}

#players{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
#players{

}
.player{
    text-align: center;
    box-shadow: 10px 10px 100px lightgray;
    padding-bottom: 20px;
    border-radius: 0 0 10px 10px;
}
.player h3{
    font-size: 2rem;
    padding: 10px 0;
}
.text-info{
    display: flex;
    justify-content: space-evenly;
}
.player img{
    width: 100%;
    height: 280px;
}
#players button{
    width: 80%;
    font-size: 1.5rem;
    color: white;
    background-color: goldenrod;
    padding: 10px 12px;
    margin-top: 15px;
    outline: none;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}
#players button:hover{
background-color: gold;
}


 /* ------- calculations style ----------------  */
 #calculations{
    margin-left: 50px;
 }
 #players-count{
    box-shadow: 5px 5px 10p gray;
   background-color: goldenrod;
   color: white;
   padding: 20px;
   border-radius: 15px;
 }
 #selected{
    padding: 20px 30px;
    font-size: 22px;
 }
 #players-count h3, #player-budget h3{
    font-size: 2rem;
 }
 
 /* ------- budget area style -------- */
 #player-budget{
    padding: 25px;
    background-color: gray;
    border-radius: 15px;
    color: white;
 }
 #player-budget input{
    width: 50%;
    padding: 8px 10px;
    margin: 15px 10px;
    font-size: 18px;
    border-radius: 7px;
    border: none;
 }
 #player-budget button{
    width: 80%;
    padding: 8px 10px;
    margin: 15px 10px;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    background-color: goldenrod;
    transition: 0.5s;
 }
 #player-budget button:hover{
    background-color: gold;
 }
 #player-budget p, label{
    font-size: 22px;
 }

  /* ------- footer style -------- */
  #footer{
    background-color: gray;
    padding: 100px 0;
    text-align: center;
    box-shadow: 10px 10px 30px white;
    font-size: 22px;
    color: white
  }